@import 'variables';


.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 58vh;
  margin-top: $playerHeight;
  margin-bottom: 1.5rem
}

.embla__slide {
  flex: 0 0 100%;
}

.embla__slide__img {
  object-fit: cover;
  object-position: top;
} 