

.episode {
  margin-bottom: 25px;
}

.episode p {
  font-weight: 300;
  text-decoration: underline;
  font-style: italic;
}



.episodeImage {
  width: 100vw;
  object-fit: cover;
  margin-bottom: 5px;
}

