@import 'variables';


.navMenu {
  padding-top: 2rem;
}

.navMenuItem {
  padding-top: 15px;
}

.navLink {
  font-size: 2.3rem;
  text-decoration: underline;
}

.radioPitch {
  padding-top: 7rem
}

.radioPitch p {
  margin-bottom: 1.25rem;
}