@import 'variables';


.navMenuItem li:first {
  padding-top: 5rem;
}

.navMenuItem {
  padding-top: 1rem;
}

.navLink {
  font-size: 2.3rem;
  text-decoration: underline;
}

.radioPitch {
  padding-top: 8rem
}

.radioPitch p {
  margin-bottom: 1.25rem;
}