


.buttonContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.buttonWrap {
  margin: 0.2rem;
}

.showButton:focus {
  background-color: #488BF2;
  color: white;
}