// FONTS
$textFont: 'Inconsolata', 'Courier New', monospace;
$headerFont: 'Prompt', Helvetica, sans-serif;

// DIMENSIONS
$ipadWidth: 768px;
$desktopWidth-small: 350px;
$desktopWidth: 1100px;
$desktopWidth-large: 1400px;