@import 'variables';


.AgendaContainer {
  padding: 0px 30px 0px 30px;
  margin-bottom: 40px;
}

.AgendaContainer h1 {
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
}


.eventsDate h3 {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.agendaEvent {
  margin-bottom: 10px;
  line-height: 20px;
  overflow: hidden;
}

.agendaEvent p {
  margin-bottom: unset;
}

.agendaEvent h2 {
  text-transform: uppercase;
}


@media (min-width: $ipadWidth){ 

}


@media (min-width: $desktopWidth){ 

  .eventsDate {
    max-width: 20%;
  }

  .agendaData {
    display: flex;
    justify-content: space-evenly;
  }

  .AgendaContainer h1 {
    text-align: start;
  }
}

@media (min-width: $desktopWidth-large){ 
  
}