@import 'variables';


.AgendaContainer h1 {
  font-size: 20pt;
  letter-spacing: 2px;
  text-align: center;
}


@media (min-width: $ipadWidth){ 

}


@media (min-width: $desktopWidth){ 

  
}

@media (min-width: $desktopWidth-large){ 
  
}