@import 'variables';

.headerContainer {
  margin-bottom: 50px;
}

.imageCard {
  display: flex;
  align-items: flex-end;
  margin-bottom: 90px;
}

.imageCardMiddle {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 90px;
}

.imageCardMiddle p {
  float: right;
}

.imageCardEnd {
  display: flex;
  align-items: flex-end;
}

.imageContent {
  position: relative; 
  width: 525px;
  height: 358px;
}

.imageContent img {
  border-radius: 10px;
}

.imageDescription {
  padding-left: 20px;
  padding-right: 20px;
}

.imageDescription h2 {
  font-weight: bold;
  font-size: 10pt;
}

.imageDescription p {
  font-size: 8pt;
}


@media (min-width: $desktopWidth-large){ 
  .imageContent {
    width: 736px;
    height: 501.6px;
  }
}