.trackHistoryHeader {
  font-size: 17pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}


@media (min-width: 767px){ 
  .trackHistoryHeader {
    font-size: 30pt;
    line-height: unset;
  }
  
}