.content {
  text-align: center;
}

.logo {
  margin-bottom: 30px;
}

.logoRotate {
  animation:spin 12s linear infinite;
 }
//@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
//@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.album {
  margin-bottom: 5px
}

.album img {
  border-radius: 25px;
}

.request {
  margin-bottom: 35px;
}

.chat {
  width: 100%;
  height: 460px;
  max-width: 320px;
  margin: 0 auto;
  border: 4px solid;
  margin-bottom: 26px;
}

.footer {
  padding-bottom: 125px ;
}