.content {
  text-align: center;
}

.mobileLogo {
  margin-bottom: 30px;
}

.logoRotate {
  animation:spin 12s linear infinite;
 }

 .album img {
   width: 300px;
   height: 300px;
 }
//@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
//@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.album {
  margin-bottom: 13px;
}

.album img {
  border-radius: 25px;
  object-fit: contain;
}

.request {
  margin-bottom: 35px;
  text-decoration: underline;
  font-weight: bolder;
}

.chat {
  width: 100%;
  height: 460px;
  max-width: 320px;
  margin: 0 auto;
  border: 4px solid;
  margin-bottom: 26px;
}

.footer {
  padding-bottom: 125px ;
}

.desktopLogo {
  display: none;
  margin-bottom: 30px;
}

.radioControls {
  display: unset;
}


@media (min-width: 767px){ 

  .chatContainer {
    display: none;
  }

  .mobileLogo {
    display: none; 
  }
 
  .musicContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
  }

  .album {
    display: none;
  }

  .radioControls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }

  .request {
    margin-bottom: unset;
  }

  .radioPitch {
    margin-bottom: 35px;
  }

  .desktopPlayer {
    border: 1px solid;
    width: 410px;
    height: 180px;
  }

  .desktopLogo {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
  }

  .footer {
    padding: unset;
  }

  .desktopPlayer {
    display: unset;
  }

}