@import 'variables';

.content {
  text-align: center;
  margin-bottom: 50px;
}

.mobileLogo {
  margin-bottom: 30px;
}

.logoRotate {
  animation:spin 12s linear infinite;
 }

//@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
//@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.logoClass {
  display: none;
}

.radioPitch h3 {
  margin-bottom: 15px;
}



.footer {
  display: none;
}


.desktopHeader {
  display: none;
}

.radioMainHeader {
  display: none;
}


@media (min-width: $desktopWidth){ 

  .content {
    margin-bottom: unset;
  }
 
  .radioMainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .radioHeaderIntro {
    max-width: 500px;
    text-align: start;
    margin-left: 40px;
  }

  .radioHeaderSocials {
    display:flex;
  }

  .radioHeaderSocials div {
    cursor: pointer;
    transition: transform .2s;
  }

  .radioHeaderSocials div:hover {
    transform: scale(1.03); 
  }

  .radioHeaderSocials div:not(:first-of-type) {
    margin-left: 20px;
  }

  .topBar {
    display: flex;
    align-items: center;
  }

  .topBar a {
    font-size: 15pt;
    text-transform: uppercase;
    margin-left: 40px;
    letter-spacing: 2px;
  }

  .radioPitch {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radioPitchText {
    margin-left: 70px;
    margin-right: 70px;
  }

  .logoClass {
    display: block;
  }

  .footer {
    display: block;
  }

  .desktopPlayer {
    border: 1px solid;
    width: 410px;
    height: 180px;
  }

  .desktopHeader {
    display: block;
  }

  .desktopHeader h1 {
    font-size: 65pt;
    text-transform: uppercase;
    line-height: 80%;
    width: 375px;
    text-align: left;
  }

  .footer {
    padding: unset;
  }

  .desktopPlayer {
    display: block;
  }

}


@media (min-width: $desktopWidth-large){

  .desktopHeader {
    margin-bottom: 20px;
  }

  .desktopHeader h1 {
    font-size: 108pt;
  }

  .radioPitch {
    margin-bottom: 65px;
  }

  .logoClass > div > div {
    width: 130px;
    height: 130px;
  }

  .desktopHeader h1 {
    width: 500px;
  }
}