.desktopPlayerContainer {
  display: none;
}

@media (min-width: 767px){
  
  .desktopPlayerContainer {
    display: flex;
    justify-content: center;
  }

  .desktopPlayerContainer img {
    border-radius: 0px 30px 30px 0px;
  }

  .album {
    width: 280px;
    height: 280px;
  }

  .album div {
    height: 100%;
    width: 100%;
  }

  .desktopPlayer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c0853a2e;
    width: 50%;
    padding-right: 10px;
    border-radius: 30px 0px 0px 30px;
  }

  .desktopPlayerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 68%;
    justify-content: space-around;
  }
  
  .musicInfos {
    text-align: right;
  }

  .enDirect {
    display: flex;
    align-items: center;
  }

  .enDirect h2{
    text-transform: uppercase;
  }

  .enDirect span {
    padding-left: 5px;
  }

  .circle:before {
    content: ' \25CF';
    font-size: 14px;
    color: tomato;
  }

  @keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0; }
    to { opacity: 1.0; } 
}                                                                                                                                                                                                                                  

  @-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0; }
    to { opacity: 1.0; }
  }

  .blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
  }
}