@import 'variables';

.desktopPlayerContainer {
  display: none;
}

@media (min-width: $desktopWidth){
  
  .desktopPlayerContainer {
    display: flex;
  }

  .volumeContainer {
    border-radius: 15px 0px 0px 15px;
    padding: 10px 0px;
  } 

  .volumeContainer > div {
    margin: 0px 15px;
  }

  .desktopPlayerContainer img {
    border-radius: 0px 20px 20px 0px;
  }

  .album {
    
  }

  .album div {
    height: 100%;
    width: 100%;
  }

  .desktopPlayer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #afafaf2e;
    width: 205px;
    padding-right: 10px;
  }

  .desktopPlayerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 68%;
    justify-content: space-around;
  }
  
  .enDirect {
    display: flex;
    align-items: center;
  }

  .enDirect h2{
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 10px;
  }

  .enDirect span {
    padding-left: 5px;
  }

  .circle:before {
    content: ' \25CF';
    font-size: 14px;
    color: tomato;
  }

  @keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0; }
    to { opacity: 1.0; } 
}                                                                                                                                                                                                                                  

  @-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0; }
    to { opacity: 1.0; }
  }

  .blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
  }
}

@media (min-width: $desktopWidth-large){
  .album {
    //width: 220px;
    //height: 220px;
  }
}