.EventModalContent h1 {
  font-size: 18pt;
  line-height: 32px;
  font-family: var(--font-prompt);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.EventLink {
  text-align: center;
  font-family: var(--font-inconsolata);
  margin-bottom: 10px;
}

.EventPoster {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.EventModalCredits {
  text-align: center;
  font-style: italic;
}