@import 'variables';

.footerContainer {
  padding: 30px 50px 30px 50px;
  border-top: 2px solid black
}

.footerSpeech {
  text-align: left;
  margin-bottom: 25px;
}

.footerSpeech p {
  font-size: 9pt;
}

.footerSocial {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.footerSocial a {
  margin-bottom: 5px;
}

.logo h1 {
  text-transform: uppercase;
  font-size: 18pt;
}

@media (min-width: $desktopWidth){ 
  .footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 50px 30px 50px;
    border-top: 2px solid black
  }

  .footerSpeech {
    width: 35%;
    text-align: left;
    margin-bottom: 0px;
  }

  .footerSocial {
    margin-bottom: none;
  }

  .footerSocial a {
    margin-bottom: none;
  }

  .logo {
   text-align: center;
  }

  .logo h1 {
    text-transform: uppercase;
    font-size: 18pt;
  }
}


