@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;800&display=swap');
@import 'variables';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: $headerFont;
  font-weight: bolder;
}

h2 {
  font-family: $textFont;
}

h3 {
  font-size: 10pt;
  font-family: $textFont;
}

p {
  font-family: $textFont;
  font-size: 12pt;
}

a {
  color: black;
  font-family: 'Inconsolata';
  font-weight: bolder;
  letter-spacing: 1px;
}

a:hover {
  color: #58D68D;
}

// --- Modal submit button  --- //

.requestBtn {
  font-family: $textFont;
  border: none;
  color: white;
  padding: 13px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 11px;
  cursor: pointer;
}

.requestBtn:disabled {
  opacity: 0.4;
}

// --- Volume slider  --- //

.ant-slider-track {
  background-color: black;
}

.ant-slider-handle {
  border: solid 2px black;
}


// --- Popup message  --- //

.popupMsg div {
  border-radius: 15px;
}

@media (min-width: $desktopWidth-large){
  h3 {
    font-size: 12pt;
  }

  p {
    font-size: 14pt;
  }
}