@import 'variables';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: var(--font-prompt);
  font-weight: bolder;
  font-size: 25pt;
}

h2 {
  font-family: var(--font-prompt);
  font-weight: bolder;
  font-size: 14pt;
}

h3 {
  font-size: 14pt;
  font-family: var(--font-inconsolata);
}

p {
  font-family: var(--font-inconsolata);
  font-size: 11pt;
}

a {
  color: black;
  font-family: var(--font-inconsolata);
  font-weight: bolder;
  letter-spacing: 1px;
}

a:hover {
  color: #58D68D;
}

// --- Modal submit button  --- //

.requestBtn {
  font-family: var(--font-inconsolata);
  border: none;
  color: white;
  padding: 13px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 11px;
  cursor: pointer;
}

.requestBtn:disabled {
  opacity: 0.4;
}

// --- Volume slider  --- //

.ant-slider-track {
  background-color: black;
}

.ant-slider-handle {
  border: solid 2px black;
}


// --- Popup message  --- //

.popupMsg div {
  border-radius: 15px;
}


@media (min-width: $desktopWidth){ 
  h1 {
    font-size: 35pt;
  }
}

@media (min-width: $desktopWidth-large){
  h1 {
    font-size: 40pt;
  }

  h3 {
    font-size: 16pt;
  }

  p {
    font-size: 14pt;
  }
}