@import 'variables';

.header {
  text-align: center;
  letter-spacing: 1px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.singleMood {
  padding: 0px 20px 0px 20px;
}

.multipleMood {
  display: none;
}

.bolder {
  font-weight: bolder;
}

@media (min-width: $desktopWidth){

  .header  { 
    padding-top: unset;
    margin-bottom: unset;
  }

  .singleMood {
    display: none;
  }

  .multipleMood {
    display: unset;
  }

  .multipleMood .content {
    display: flex;
    justify-content: space-evenly;
  }
 }
