.header {
  text-align: center;
  letter-spacing: 1px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.multipleMood {
  display: none;
}


@media (min-width: 767px){

  .header  { 
    padding-top: unset;
    margin-bottom: 10px;
  }

  .singleMood {
    display: none;
  }

  .multipleMood {
    display: flex;
    justify-content: space-evenly;
  }
 }
