@import 'variables';

.main {
  background-color: #fff6ea;
}

.frame {
  padding: unset;
  //background-color: unset !important;
}

.mobileFitter {
  display: block;
  height: 135px;
}

@media (min-width: $desktopWidth){ 
  .frame {
    //background-color: initial !important;
    padding: 50px 50px 60px 50px;
  }

  .frameContent {
    padding: 15px 40px 15px 40px;
  }

  .mobileFitter {
    display: none;
  }
}

@media (min-width: $desktopWidth-large){
  .frame {
    padding: 70px 100px 70px 100px;
  }

  .frameContent {
    padding: 25px 40px 25px 40px;
  }

  
}