
.frame {
  background-color: unset
}

@media (min-width: 767px){ 
  .frame {
    background-color:  #c0853acc;
    padding: 50px 60px 60px 60px;
    height: 130vh;
  }

  .frameContent {
    background-color:  white;
    border-radius: 30px;
    padding: 45px 30px 30px 30px;
  }


}