
.frame {
  padding: unset;
  //background-color: unset !important;
}

@media (min-width: 767px){ 
  .frame {
    //background-color: initial !important;
    padding: 50px 50px 60px 50px;
  }

  .frameContent {
    background-color:  white;
    border-radius: 50px;
    padding: 50px 30px 30px 30px;
  }


}