@import 'variables';

.interviews {
  width: 47%;
  background-color: #ededed;
  padding: 30px 90px 30px 90px;
  border-radius: 35px;
  text-align: center;
}


.interviewsHeader {
  margin-bottom: 15px;
}

.interviewsContent {
  margin-bottom: 20px;
}

.mail {
  margin-bottom: 20px;
}

@media (min-width: $desktopWidth-large){
  .interviews {
    width: 35%;
  }
}
