@import 'variables';

.imagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageCard {
  margin-bottom: 25px;
  cursor: pointer;
}

.imageCard h3 {
  text-align: center; 
}

.imageCard .subTitle {
  text-transform: uppercase;
  font-weight: bold;
}

.imageContent {
  width: 350px;
  height: 350px;
  position: relative;
  margin-bottom: 10px;
}

.imageContent img {
  object-fit: cover;
  border-radius: 25px;
}



@media (min-width: $desktopWidth){ 
 
  .imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(670px, 1fr));
    grid-gap: 1rem;
  }

  .imageContent {
    width: 670px;
    height: 670px;
  }

  .imageCard {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .imageCard h3 {
    color: white; 
  }
  

}


@media (min-width: $desktopWidth-large){ 
  .imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
    grid-gap: 1rem;
  }

  .imageContent {
    width: 750px;
    height: 750px;
  }  
}