@import 'variables';

.InterviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageCard {
  margin-bottom: 25px;
}

.imageCard h3 {
  text-align: center; 
}

.imageCard .subTitle {
  text-transform: uppercase;
}

.imageContent {
  width: 350px;
  height: 350px;
  position: relative;
  margin-bottom: 10px;
}

.imageContent img {
  object-fit: cover;
  border-radius: 25px;
}



@media (min-width: $desktopWidth-large){ 
 
}