@import 'variables';
// .tickerContainer {
//   display: none;
// }

.tickerContainer {
  display: block;
  height: 50px;
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  cursor: pointer;
}

.tickerContainer p {
  font-size: 20pt;
  font-family: 'prompt';
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}

.marquee2 span {
  animation-delay: 12.5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


@media (min-width: $desktopWidth){ 
  .tickerContainer {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktopWidth-large){
  .tickerContainer p {
    font-size: 25pt;
  }
}