@import 'variables';

.tickerContainer {
  cursor: pointer;
  margin-bottom: 25px;
}

.tickerContainer span {
  font-size: 20pt;
  font-family: $headerFont;
}

.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 50px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@media (min-width: $desktopWidth){ 
  .tickerContainer {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktopWidth-large){
  .tickerContainer p {
    font-size: 25pt;
  }
}

.marqueeContent {
  margin-right: 30px
}