@import 'variables';

.albumInfo {
  font-size: 14pt;
  max-width: 260px;
}

.musicInfos {
  text-align: right;
  width: 60%;
}

@media (min-width: $desktopWidth){ 
  .albumInfo {
    font-size: 18pt;
    max-width: unset;
  }

  .musicInfos {
    text-align: right;
    width: 100%;
  }
}