@import 'variables';


.ShowsContainer {
  margin-bottom: 25px;
  background-color: white;
}



@media (min-width: $ipadWidth){ 

}


@media (min-width: $desktopWidth){ 
  .ShowsContainer {
    padding: 25px 40px 0px 40px;
    border-bottom: 2px solid;
    background-color: #d1bdd9;
  }
}

@media (min-width: $desktopWidth-large){ 
  
}