@import 'variables';

.imagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageCard {
  margin-bottom: 25px;
  cursor: pointer;
}

.imageCard h3 {
  text-align: center; 
}

.imageCard .subTitle {
  text-transform: uppercase;
  font-weight: bold;
}

.imageContent {
  width: 350px;
  height: 350px;
  position: relative;
  margin-bottom: 10px;
  transition: transform .2s;
}

.imageContent img {
  object-fit: cover;
  border-radius: 25px;
}



@media (min-width: $desktopWidth){ 

  .imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
    grid-gap: 1rem;
  }

  .imageContent {
    width: 45vw;
    height: 45vw;
  }

  .imageContent:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outShowsContainer of the viewport) */
  }

  .imageCard {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .imageCard h3 {
    color: white; 
  }
}