@import 'variables';

.sideChat {
  display: none;
}

.behindRadio {
  display: none;
}

.side {
  margin-bottom: 25px;
}

.sideInterview {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $ipadWidth){ 
  .sideInterview {
    padding-right: 100px;
    padding-left: 100px;
  }
}



@media (min-width: $desktopWidth){ 
  .side {
    display: flex;
    padding: 50px 50px 80px 50px;
    margin-bottom: unset;
    justify-content: space-between;
  }
  
  .sideContent {
   
  }

  .sideInterview {
    width: 45%;
    padding-right: unset;
    padding-left: unset;
  }

  .behindRadio {
    display: unset;
  }
  

  .trackHistorySideContainer {
    width: min-content;
  }
}

@media (min-width: $desktopWidth-large){ 
  .sideInterview {
    width: 40%;
  }
}