
.side {
  display: none;
}

@media (min-width: 767px){ 
  .side {
    display: block;
    padding: 50px 50px 0px 50px;
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
  }

  .trackHistoryHeader {
    font-size: 30pt;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
  }
}