@import 'variables';

.sideChat {
  display: none;
}

.Interviews {
  display: none;
}

.side {
  margin-bottom: 25px;
}

.sideInterview {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
}

@media (min-width: $ipadWidth){ 
  .sideInterview {
    padding-right: 100px;
    padding-left: 100px;
  }
}


@media (min-width: $desktopWidth){ 
  .side {
    padding: 50px 50px 0px 50px;
    margin-bottom: 60px;
  }

  .sideInterview {
    width: 45%;
    padding-right: unset;
    padding-left: unset;
    margin: 0 auto 100px auto;
  }

  .Interviews {
    display: unset;
    width: 80%;
  }
  
}

@media (min-width: $desktopWidth-large){ 
  .sideInterview {
    width: 40%;
  }
}