.cardContainer {
  background-color: #EDEDED;
  border-radius: 22px;
  text-align: center;
  padding: 12px;
  width: 130px;
}

.cardContainer img {
  border-radius: 15px;
  margin-bottom: 10px;
}

.artistName {
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.songTitle {
  font-size: 8pt;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: lowercase;
}

.hours {
  font-size: 7pt;
}