.cardContainer {
  background-color: #EDEDED;
  border-radius: 25px;
  text-align: center;
  padding: 25px;
  width: 200px;
}

.cardContainer img {
  border-radius: 20px;
  margin-bottom: 15px;
}

.artistName {
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.songTitle {
  font-size: 9pt;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: lowercase;
}