@import 'variables';

.formContent {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.formContent input, .formContent textarea {
  font-family: "Inconsolata";
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  margin-bottom: 38px;
  border: none;
  border-bottom: 3px solid black;
  min-width: 250px;
  outline: none;
  color: black;
}

.formContent textarea {
  line-height: 18pt; 
  padding-bottom: 10px;
}

.formContent input#comment {
  margin-bottom: 40px;
}


.formContent input:focus {
  border-bottom: 3px solid $btn-color;
}

.formContent button {
  width: 200px;
}

.ant-modal-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Prompt";
}

.ant-modal-header {
  border-radius: 30px 30px 0px 0px;
  border-bottom: none;
  padding: 60px 50px 0px 50px;
}

.ant-modal-body {
  padding: 20px 50px 30px 50px;
}

.ant-modal-content {
  border-radius: 30px;
}

.ant-modal-footer {
  display: none;
}

.popupMsg div {
  border-radius: 15px;
}

@media (min-width: 760px) {
  .ant-modal-header {
    padding: 60px 90px 0px 90px;
  }
  
  .ant-modal-body {
    padding: 20px 90px 30px 90px;
  }
}
