@import 'variables';

.trackHistory {
  display: none;
}

.headerLogo {
  display: none;
}

@media (min-width: 760px) {
  .trackHistory {
    
  }
}

@media (min-width: $desktopWidth){ 

  .historyHeader {
    font-weight: bold;
  }

  .trackHistory {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  .previousTrack {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}